<div class="content-topbar">
    <div>
        <h2>واحد کالا و خدمات</h2>
        <span>
            کالا
            <mat-icon class="icon-primary">arrow_back_ios</mat-icon>
            واحد کالا و خدمات
        </span>
    </div>
    <div class="content-topbar-actions">
        <a routerLink="/software/product">
            <key-button>
                <mat-icon class="list-add-button-icon">list</mat-icon>
                لیست تمام کالا ها
            </key-button>
        </a>
        <div class="buttons-seperator"></div>
        <button mat-ripple class="tiled-table-toggle" type="button" (click)="tailedTable = !tailedTable"
            [matTooltip]="!tailedTable ? 'حالت نمایش: کاشی' : 'حالت نمایش: جدول'">
            <mat-icon *ngIf="!tailedTable"
                class="material-icons-outlined tiled-table-toggle-icon icon-primary">grid_on_outlined</mat-icon>
            <mat-icon *ngIf="tailedTable"
                class="material-icons-outlined tiled-table-toggle-icon icon-primary">format_list_bulleted_outlined</mat-icon>
        </button>
    </div>
</div>
<div class="unit-container">
    <div>
        <div class="add-new-unit-form">
            <span>
                <ng-container *ngIf="!updateMode">
                    افزودن واحد جدید
                </ng-container>
                <ng-container *ngIf="updateMode">
                    ویرایش واحد
                </ng-container>
            </span>

            <form [formGroup]="addUnitForm" class="add-unit-form">
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>کد واحد</mat-label>
                    <input keyAutoFocus type="text" matInput formControlName="code">
                    <mat-error *ngIf="addUnitForm.get('code')?.invalid && validationLastCheck">
                        کد واحد نامعتبر است
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>نام واحد</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="addUnitForm.get('name')?.invalid && validationLastCheck">
                        نام واحد نامعتبر است
                    </mat-error>
                </mat-form-field>

                <key-button *ngIf="!updateMode" [block]="true" [loading]="addUnitLoading" (click)="onAddUnit()"
                    type="submit">ایجاد</key-button>
                <div *ngIf="updateMode" class="unit-form-actions-container">
                    <key-button [loading]="updateUnitLoading" [block]="true" (click)="onCancelUpdateMode()"
                        appearance="stroked">لغو</key-button>
                    <key-button [loading]="updateUnitLoading" [block]="true"
                        (click)="onUpdateUnit()">ویرایش</key-button>
                </div>
            </form>
        </div>
    </div>
    <div class="content-table">
        <div class="table-mobile-sort" *ngIf="tailedTable">
            <div class="dropdown-button">
                <span>مرتب سازی بر اساس: </span>
                <button mat-ripple tabindex="1" [matMenuTriggerFor]="sortItems">
                    {{ activeSort }}
                    <mat-icon class="icon-light">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #sortItems="matMenu">
                    <button mat-menu-item (click)="onTableSortChanged({ active: 'پیش فرض', direction: '' })">پیش فرض</button>
                    <ng-container *ngFor="let sortItem of tableColumns; let i = index">
                        <button mat-menu-item *ngIf="i !== tableColumns.length-1" (click)="onTableSortChanged({ active: sortItem, direction: mobileActiveSortMode })">{{ sortItem }}</button>
                    </ng-container>
                </mat-menu>
            </div>

            <div class="dropdown-button">
                <span>جهت مرتب سازی: </span>
                <button mat-ripple tabindex="1" [matMenuTriggerFor]="mobileSortDirection">
                    {{ mobileActiveSortMode === 'asc' ? "اول به آخر" : "آخر به اول" }}
                    <mat-icon class="icon-light">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #mobileSortDirection="matMenu">
                    <button mat-menu-item (click)="mobileActiveSortMode = 'asc'; onTableSortChanged({ active: activeSort, direction: 'asc' })">اول به آخر</button>
                    <button mat-menu-item (click)="mobileActiveSortMode = 'desc'; onTableSortChanged({ active: activeSort, direction: 'desc' })">آخر به اول</button>
                </mat-menu>
            </div>
        </div>
        <div class="table">
            <table *ngIf="unitListLoaded" mat-table [dataSource]="unitList" matSort
                (matSortChange)="onTableSortChanged($event)" keyTiledTable [tiledTable]="tailedTable">
                <ng-container matColumnDef="ایدی واحد">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> شناسه </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container matColumnDef="نام واحد">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> نام </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="کد واحد">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> کد سامانه </th>
                    <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
                </ng-container>

                <ng-container matColumnDef="عملیات">
                    <th mat-header-cell *matHeaderCellDef> عملیات </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-action-buttons">
                            <key-button *ngIf="element.databaseId > 0" matTooltip="حذف واحد"
                                (click)="onDeleteUnit(element)" content="icon">
                                <mat-icon class="icon-red material-icons-outlined">delete</mat-icon>
                            </key-button>
                            <key-button *ngIf="element.databaseId > 0" matTooltip="ویرایش"
                                (click)="onUpdateMode(element)" content="icon">
                                <mat-icon class="icon-primary material-icons-outlined">edit_square</mat-icon>
                            </key-button>
                            <key-button *ngIf="element.databaseId <= 0" matTooltip="واحد پیشفرض" content="icon">
                                <mat-icon class="icon-primary material-icons-outlined">lock_outlined</mat-icon>
                            </key-button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell table-no-data" [colSpan]="tableColumns.length">
                        هیچ داده ای یافت نشد
                    </td>
                </tr>
            </table>
            <key-table-loading *ngIf="!unitListLoaded" [columns]="tableColumns"></key-table-loading>
            <div class="table-pagination">
                <div class="table-pagination__paginator">
                    <key-button content="icon" [disabled]="!tablePagination.hasPrev"
                        (click)="tablePagination.hasPrev && onPaginationChanged((tablePagination.currentPage ?? 1) - 1)">
                        <mat-icon class="paginator-icon icon-medium">arrow_forward_ios</mat-icon>
                    </key-button>
                    <div>
                        <span>{{ (tablePagination.currentPage ?? 0) | farsiNumber }}</span>
                        <span>از</span>
                        <span>{{ (tablePagination.totalPages ?? 0) | farsiNumber }}</span>
                    </div>
                    <key-button content="icon" [disabled]="!tablePagination.hasNext"
                        (click)="tablePagination.hasNext && onPaginationChanged((tablePagination.currentPage ?? 1) + 1)">
                        <mat-icon class="paginator-icon icon-medium">arrow_back_ios_new</mat-icon>
                    </key-button>
                </div>
                <div class="table-pagination__total-count">
                    <ng-container *ngIf="(tablePagination.totalCount ?? 0) <= 0">موردی یافت نشد</ng-container>
                    <ng-container *ngIf="(tablePagination.totalCount ?? 0) > 0">
                        {{ tablePagination.totalCount ?? 0 | price }} مورد یافت شد
                    </ng-container>
                </div>
                <div class="table-pagination__page-size">
                    <span>نمایش در هر صفحه: </span>
                    <button mat-ripple tabindex="1" [matMenuTriggerFor]="pageSizes">
                        {{ (tablePagination.pageSize ?? 0) | farsiNumber }}
                        <mat-icon class="icon-light">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #pageSizes="matMenu">
                        <button mat-menu-item (click)="onItemPerPageChanged(10)">{{ 10 | farsiNumber }} مورد</button>
                        <button mat-menu-item (click)="onItemPerPageChanged(25)">{{ 25 | farsiNumber }} مورد</button>
                        <button mat-menu-item (click)="onItemPerPageChanged(40)">{{ 40 | farsiNumber }} مورد</button>
                        <button mat-menu-item (click)="onItemPerPageChanged(60)">{{ 60 | farsiNumber }} مورد</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>