@import "../../../../theme/variables.scss";
@import "../../../../theme/dialogs.scss";

.dialog.new-company-dialog {
    z-index: 999999;

    .header {
        margin-bottom: 0px;
        border-bottom: none;
    }

    .content {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top: none;
        border-bottom: none;
        padding-top: 0;
        height: calc(100% - 2 * ($headerFooterHeight / 2));
        background-color: var(--background-color);

        &::after {
            background-image: url("../../../../assets/images/background-pattern.jpg");
            background-repeat: repeat;
            background-size: 200px 200px;
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            opacity: 0.05;
            z-index: -1;
        }
    }

    .footer {
        display: none;
    }
}

.steps-container {
    max-height: calc(80vh - 64px);
    overflow-y: auto;
    width: 460px;
    background-color: var(--base-color);
    padding: 25px 35px;
    border-radius: 10px;
    border: 1px solid var(--border-color-medium);
    box-shadow: var(--light-shadow);
    
    & > div {
        position: relative;
    }
    .generate-keys-loading {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: color-mix(in srgb, var(--base-color), transparent 50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tow-columns-title {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;

        .add-company-field-title {
            margin-bottom: 0px;
        }
    }

    .add-company-field-title {
        margin-bottom: 25px;
    }

    .add-company-field {
        width: 100%;
    }

    .add-company-buttons-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .two-colums-input {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .steps-container {
        .two-colums-input {
            grid-template-columns: 1fr;
        }
    }
}

.step-welcome {
    .welcome__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
            color: var(--gray-medium);
            width: 100px;
            height: 100px;
            font-size: 100px;
        }
    }

    .welcome__title {
        margin-top: 10px;
        text-align: center;
    }

    .welcome__content {
        text-align: center;
        margin-bottom: 30px;
    }
}

.add-company-progress {
    margin-bottom: 20px;
}