<div class="auth-auth-container">
    <div class="auth-auth-form">
        <div class="columns">
            <div class="logo">
                <img src="../../../assets/images/logo.png" alt="logo">
                <h2>نرم افزار واسط کلید</h2>
            </div>
            <div class="back">
                <a routerLink="/home">بازگشت</a>
            </div>
        </div>
        <div class="auth-title">
            <h3>فراموشی رمز عبور</h3>
            <p>ایمیل حساب کاربری مورد نظر را وارد کنید</p>
            <br>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()" *ngIf="forgetPasswordResult === null">
                <mat-form-field class="block-field" appearance="outline">
                    <mat-label>آدرس ایمیل</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('required') && validateForm">
                        این فیلد ضروریست
                    </mat-error>
                    <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email') && validateForm">
                        ایمیل نامعتبر است
                    </mat-error>
                    <mat-icon matSuffix class="field-icon icon-medium">person</mat-icon>
                </mat-form-field>

                <button type="submit" matRipple class="primary-button block-button submit-button"
                    [disabled]="forgetPasswordLoading" [ngClass]="{'button-loading': forgetPasswordLoading}">
                    <div class="button-content">تایید</div>
                </button>
                <span class="other-option-link">حساب کاربری ندارید؟<a routerLink="/auth/register">ثبت نام</a></span>
            </form>
            <p class="forget-password-result-success" *ngIf="forgetPasswordResult === true">
                ایمیلی حاوی لینک بازیابی رمز عبور برای شما ارسال شد
            </p>
            <p class="forget-password-result-failed" *ngIf="forgetPasswordResult === false">
                ایمیل نامعتبر است یا بازیابی رمز عبور با خطا مواجه شد لطفا بعدا تلاش کنید
            </p>
        </div>
    </div>
</div>