<ng-container *ngIf="authDone && companySelected">
    <div class="panel-application-not-enabled" [ngClass]="{'menu-activated': isExpanded}" *ngIf="demoErrorMessage">
        <span>توجه: نرم افزار در حالت دمو میباشد، لطفا در صورت علاقه نرم افزار را خریداری کنید.</span>
        <a routerLink="/home/store">خرید نرم افزار</a>
    </div>

    <div class="panel-sidebar-overlay" *ngIf="isExpanded" (click)="isExpanded = false"></div>
    <div class="panel-sidebar"
        [ngClass]="{'active': isExpanded, 'not-active': !isExpanded, 'mobile-hidden': !isExpanded}">
        <div class="panel-sidebar_top">
            <div class="panel-sidebar__logo" [mat-menu-trigger-for]="userMenu" mat-ripple>
                <div class="person-icon">
                    <mat-icon>person_outline</mat-icon>
                </div>
                <span *ngIf="isExpanded">
                    <a class="pointer">نرم افزار واسط کلید</a>
                    <span class="package-number">شماره بسته: {{ userDetails.packageNo }}</span>
                </span>
            </div>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item>
                    <div class="home-button" (click)="onReSelectCompany()">
                        <mat-icon class="material-icons-outlined">apartment_outline</mat-icon>
                        تغییر شرکت فعال
                    </div>
                </button>
                <button mat-menu-item>
                    <div class="home-button">
                        <mat-icon class="material-icons-outlined">home</mat-icon>
                        <a routerLink="/">بازگشت به صفحه اصلی</a>
                    </div>
                </button>
                <button (click)="onLogout()" mat-menu-item>
                    <div class="logout-button">
                        <mat-icon>logout</mat-icon>
                        خروج از حساب کاربری
                    </div>
                </button>
            </mat-menu>
        </div>
        <ul class="panel-sidebar__menu">
            <li class="menu-title">منو اصلی</li>
            <li class="nav-item accordion" [ngClass]="{'opened': activeRouteIs('dashboard')}">
                <a routerLink="/software" tabindex="1">
                    <div class="accordion-header" matRipple>
                        <div class="accordion-title">
                            <div class="nav-item__icon">
                                <mat-icon class="material-icons-outlined">poll_outline</mat-icon>
                            </div>
                            <span *ngIf="isExpanded" class="nav-item__title unselectable">پیشخوان</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="menu-title">مودی</li>
            <li class="nav-item accordion" tabindex="1" #companyAccordion (keydown.enter)="toggleAccordion(companyAccordion)" (click)="toggleAccordion(companyAccordion)"
                [mat-menu-trigger-for]="!isExpanded ? companyMenu : null"
                [ngClass]="{'opened': activeRouteIs('company')}">
                <div class="accordion-header" matRipple>
                    <div class="accordion-title">
                        <div class="nav-item__icon">
                            <mat-icon class="material-icons-outlined">business_outline</mat-icon>
                        </div>
                        <span *ngIf="isExpanded" class="nav-item__title unselectable">شرکت</span>
                    </div>
                    <div *ngIf="isExpanded" class="accordion-icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <ul class="accordion-content" (click)="$event.stopPropagation()">
                    <li tabindex="1" matRipple class="unselectable" (keydown.enter)="onAddCompany()" (click)="onAddCompany()">ایجاد شرکت جدید</li>
                    <li tabindex="1" matRipple class="unselectable" (keydown.enter)="onReSelectCompany()" (click)="onReSelectCompany()">تغییر شرکت فعال</li>
                    <li matRipple class="unselectable"><a routerLink="/software/company" tabindex="1">لیست تمام شرکت ها</a></li>
                    <li tabindex="1" matRipple class="unselectable" (keydown.enter)="onGenerateKeysDialog()" (click)="onGenerateKeysDialog()">دریافت CSR</li>
                </ul>
            </li>
            <mat-menu #companyMenu="matMenu" xPosition="before">
                <button mat-menu-item tabindex="1" (keydown.enter)="onAddCompany()" (click)="onAddCompany()">ایجاد شرکت جدید</button>
                <button mat-menu-item tabindex="1" (keydown.enter)="onReSelectCompany()" (click)="onReSelectCompany()">تغییر شرکت فعال</button>
                <button mat-menu-item><a routerLink="/software/company" tabindex="1">لیست تمام شرکت ها</a></button>
                <button mat-menu-item tabindex="1" (keydown.enter)="onGenerateKeysDialog()" (click)="onGenerateKeysDialog()">دریافت CSR</button>
            </mat-menu>

            <li class="menu-title">تعاریف پایه</li>
            <li class="nav-item accordion" #contactAccordion tabindex="1" (keydown.enter)="toggleAccordion(contactAccordion)" (click)="toggleAccordion(contactAccordion)"
                [mat-menu-trigger-for]="!isExpanded ? contactMenu : null"
                [ngClass]="{'opened': activeRouteIs('person')}">
                <div class="accordion-header" matRipple>
                    <div class="accordion-title">
                        <div class="nav-item__icon">
                            <mat-icon class="material-icons-outlined">contacts_outline</mat-icon>
                        </div>
                        <span *ngIf="isExpanded" class="nav-item__title unselectable">طرف حساب</span>
                    </div>
                    <div *ngIf="isExpanded" class="accordion-icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <ul class="accordion-content" (click)="$event.stopPropagation()">
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onAddPerson()" (click)="onAddPerson()">ایجاد طرف حساب جدید</li>
                    <li matRipple class="unselectable"><a routerLink="/software/person" tabindex="1">لیست تمام طرف حساب ها</a></li>
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onImportPersonsFromExcel()" (click)="onImportPersonsFromExcel()">فراخوانی از اکسل</li>
                </ul>
            </li>
            <mat-menu #contactMenu="matMenu" xPosition="before">
                <button mat-menu-item tabindex="1" (keydown.enter)="onAddPerson()" (click)="onAddPerson()">ایجاد طرف حساب جدید</button>
                <button mat-menu-item><a routerLink="/software/person" tabindex="1">لیست تمام طرف حساب ها</a></button>
                <button mat-menu-item tabindex="1" (keydown.enter)="onImportPersonsFromExcel()" (click)="onImportPersonsFromExcel()">فراخوانی از اکسل</button>
            </mat-menu>

            <li class="nav-item accordion" tabindex="1" #productAccordion (keydown.enter)="toggleAccordion(productAccordion)" (click)="toggleAccordion(productAccordion)"
                [mat-menu-trigger-for]="!isExpanded ? productMenu : null"
                [ngClass]="{'opened': activeRouteIs('product')}">
                <div class="accordion-header" matRipple>
                    <div class="accordion-title">
                        <div class="nav-item__icon">
                            <mat-icon class="material-icons-outlined">inventory_2_outline</mat-icon>
                        </div>
                        <span *ngIf="isExpanded" class="nav-item__title unselectable">کالا و خدمات</span>
                    </div>
                    <div *ngIf="isExpanded" class="accordion-icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <ul class="accordion-content" (click)="$event.stopPropagation()">
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onAddProduct()" (click)="onAddProduct()">ایجاد کالای جدید</li>
                    <li matRipple class="unselectable"><a routerLink="/software/product/unit" tabindex="1">واحد کالا و خدمات</a></li>
                    <li matRipple class="unselectable"><a routerLink="/software/product" tabindex="1">لیست تمام کالا ها</a></li>
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onSearchForProductId(ProductTypeEnum.Product)" (click)="onSearchForProductId(ProductTypeEnum.Product)">جستجو شناسه کالا</li>
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onSearchForProductId(ProductTypeEnum.Service)" (click)="onSearchForProductId(ProductTypeEnum.Service)">جستجو شناسه خدمات</li>
                </ul>
            </li>
            <mat-menu #productMenu="matMenu" xPosition="before">
                <button mat-menu-item tabindex="1" (keydown.enter)="onAddProduct()" (click)="onAddProduct()">ایجاد کالای جدید</button>
                <button mat-menu-item><a routerLink="/software/product" tabindex="1">لیست تمام کالا و خدمات</a></button>
                <button mat-menu-item><a routerLink="/software/product/unit" tabindex="1">واحد کالا و خدمات</a></button>
                <button mat-menu-item tabindex="1" (keydown.enter)="onSearchForProductId(ProductTypeEnum.Product)" (click)="onSearchForProductId(ProductTypeEnum.Product)">جستجو شناسه کالا</button>
                <button mat-menu-item tabindex="1" (keydown.enter)="onSearchForProductId(ProductTypeEnum.Service)" (click)="onSearchForProductId(ProductTypeEnum.Service)">جستجو شناسه خدمات</button>
            </mat-menu>

            <li class="menu-title">عملیات</li>

            <li class="nav-item accordion" tabindex="1" #factorAccordion (keydown.enter)="toggleAccordion(factorAccordion)" (click)="toggleAccordion(factorAccordion)"
                [mat-menu-trigger-for]="!isExpanded ? factor : null" [ngClass]="{'opened': activeRouteIs('invoice')}">
                <div class="accordion-header" matRipple>
                    <div class="accordion-title">
                        <div class="nav-item__icon">
                            <mat-icon class="material-icons-outlined">article_outline</mat-icon>
                        </div>
                        <span *ngIf="isExpanded" class="nav-item__title unselectable">فاکتور فروش</span>
                    </div>
                    <div *ngIf="isExpanded" class="accordion-icon">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <ul class="accordion-content" (click)="$event.stopPropagation()">
                    <li matRipple class="unselectable" tabindex="1" (keydown.enter)="onAddInvoice()" (click)="onAddInvoice()">ایجاد فاکتور فروش جدید</li>
                    <li matRipple class="unselectable"><a routerLink="/software/invoice" tabindex="1">لیست فاکتور های فروش</a></li>
                    <li matRipple class="unselectable"><a routerLink="/software/invoice/currency" tabindex="1">لیست تمام ارز ها</a>
                    </li>
                </ul>
            </li>
            <mat-menu #factor="matMenu" xPosition="before">
                <button mat-menu-item tabindex="1" (keydown.enter)="onAddInvoice()" (click)="onAddInvoice()">ایجاد فاکتور جدید</button>
                <button mat-menu-item><a routerLink="/software/invoice" tabindex="1">لیست فاکتور های فروش</a></button>
                <button mat-menu-item><a routerLink="/software/invoice/currency" tabindex="1">لیست تمام ارز ها</a></button>
            </mat-menu>

            <li class="menu-title">گزارشات</li>
            <li class="nav-item accordion" [ngClass]="{'opened': activeRouteIs('reports')}">
                <a routerLink="/software/reports" tabindex="1">
                    <div class="accordion-header" matRipple>
                        <div class="accordion-title">
                            <div class="nav-item__icon">
                                <mat-icon class="material-icons-outlined">history_outline</mat-icon>
                            </div>
                            <span *ngIf="isExpanded" class="nav-item__title unselectable">وقایع کاربری</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <span class="software-version">
            <ng-container *ngIf="isExpanded">
                نسخه:
            </ng-container>
            v{{ softwareVersion | farsiNumber }}
        </span>
    </div>

    <div class="main-content">
        <div class="panel-header">
            <key-button (click)="isExpanded = !isExpanded" content="icon" class="icon windows-only-icon">
                <mat-icon *ngIf="!isExpanded">menu_open</mat-icon>
                <mat-icon *ngIf="isExpanded">menu_closed</mat-icon>
            </key-button>
            <key-button [mat-menu-trigger-for]="userMenu" content="icon" class="icon mobile-only-icon">
                <mat-icon class="material-icons-outlined mobile-user-icon">person_outlined</mat-icon>
            </key-button>
            <button matRipple [matMenuTriggerFor]="createMenu" class="create-button">ایجاد کردن
                <mat-icon>keyboard_arrow_down</mat-icon></button>
            <mat-menu #createMenu="matMenu">
                <button mat-menu-item (click)="onAddCompany()">شرکت</button>
                <button mat-menu-item (click)="onAddPerson()">طرف حساب</button>
                <button mat-menu-item (click)="onAddProduct()">کالا و خدمات</button>
                <button mat-menu-item (click)="onAddInvoice()">فاکتور فروش</button>
            </mat-menu>
            <div class="search-box" [ngClass]="{'search-box-opened': searchOpened}">
                <form class="search-form" (ngSubmit)="searchInput.blur(); onSearch()">
                    <input placeholder="جستجو کردن..." type="text" #searchInput (click)="searchOpened = true;"
                        (keydown.esc)="searchOpened = false; searchInput.blur()"
                        [ngClass]="{'search-opened': searchOpened}" class="search" [(ngModel)]="searchQuery"
                        name="search-input" [disabled]="searchDisable">
                    <div class="search-form-history" *ngIf="searchOpened">
                        <span class="search-history-item" *ngFor="let searchHistoryItem of searchHistory">
                            <div class="history-item-value"
                                (click)="searchQuery = searchHistoryItem.value; onSearch();">
                                <mat-icon class="icon-medium">history</mat-icon>
                                <span>
                                    {{ searchHistoryItem.value }}
                                </span>
                            </div>
                            <div class="close-icon">
                                <mat-icon (click)="removeFormHistory(searchHistoryItem)"
                                    class="icon-medium">close</mat-icon>
                            </div>
                        </span>
                    </div>
                    <button class="icon-light search-icon">
                        <mat-icon>search</mat-icon>
                    </button>
                    <div class="search-form-overlay" (click)="searchOpened = false"></div>
                </form>
            </div>
            <button class="theme-select" mat-ripple [mat-menu-trigger-for]="themeMenu" tabindex="1">
                <ng-container *ngIf="currentTheme === 'default'">پیش فرض</ng-container>
                <ng-container *ngIf="currentTheme === 'dark'">تاریک</ng-container>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #themeMenu="matMenu">
                <button mat-menu-item (click)="changeTheme('default')">حالت پیشفرض</button>
                <button mat-menu-item (click)="changeTheme('dark')">حالت تاریک</button>
            </mat-menu>
            <key-button content="icon" class="icon full-screen-icon" (click)="toggleFullScreen()">
                <mat-icon *ngIf="fullscreen" class="material-icons-outlined"
                    matTooltip="حالت تمام صفحه">fullscreen</mat-icon>
                <mat-icon *ngIf="!fullscreen" class="material-icons-outlined"
                    matTooltip="خروج از حالت تمام صفحه">fullscreen_exit</mat-icon>
            </key-button>
            <a routerLink="/software/settings">
                <key-button content="icon" class="icon">
                    <mat-icon matTooltip="تنظیمات کاربری" class="settings-icons">settings</mat-icon>
                </key-button>
            </a>
        </div>
        <div class="panel-content" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet" (activate)="onRouteActivated($event)"></router-outlet>
        </div>
    </div>

    <div class="mobile-bottom-menu">
        <ul>
            <a routerLink="/software/dashboard">
                <li mat-ripple [ngClass]="{'active-bottom-menu-item': activeRouteIs('dashboard')}">
                    <div class="bottom-menu-icon">
                        <img class="icon-light"
                            [src]="activeRouteIs('dashboard') ? 'assets/images/software/home-solid.svg' : 'assets/images/software/home-outlined.svg'"
                            alt="dashboard icon">
                    </div>
                    <span>خانه</span>
                </li>
            </a>
            <a routerLink="/software/company">
                <li mat-ripple [ngClass]="{'active-bottom-menu-item': activeRouteIs('company')}">
                    <div class="bottom-menu-icon">
                        <img class="icon-light"
                            [src]="activeRouteIs('company') ? 'assets/images/software/company-solid.svg' : 'assets/images/software/company-outlined.svg'"
                            alt="company icon">
                    </div>
                    <span>مودی</span>
                </li>
            </a>
            <a routerLink="/software/product">
                <li mat-ripple [ngClass]="{'active-bottom-menu-item': activeRouteIs('product')}">
                    <div class="bottom-menu-icon">
                        <img class="icon-light"
                            [src]="activeRouteIs('product') ? 'assets/images/software/product-solid.svg' : 'assets/images/software/product-outlined.svg'"
                            alt="company icon">
                    </div>
                    <span>تعاریف پایه</span>
                </li>
            </a>
            <a routerLink="/software/invoice">
                <li mat-ripple [ngClass]="{'active-bottom-menu-item': activeRouteIs('invoice')}">
                    <div class="bottom-menu-icon">
                        <img class="icon-light"
                            [src]="activeRouteIs('invoice') ? 'assets/images/software/invoice-solid.svg' : 'assets/images/software/invoice-outlined.svg'"
                            alt="company icon">
                    </div>
                    <span>فاکتور</span>
                </li>
            </a>
            <a routerLink="/software/reports">
                <li mat-ripple [ngClass]="{'active-bottom-menu-item': activeRouteIs('reports')}">
                    <div class="bottom-menu-icon">
                        <img class="icon-light"
                            [src]="activeRouteIs('reports') ? 'assets/images/software/report-solid.svg' : 'assets/images/software/report-outlined.svg'"
                            alt="company icon">
                    </div>
                    <span>گزارشات</span>
                </li>
            </a>
        </ul>
    </div>
</ng-container>

<key-loading *ngIf="!authDone || !companySelected"></key-loading>