<div class="content-topbar">
    <div>
        <h2>لیست تمام کالا و خدمات</h2>
        <span>
            کالا و خدمات 
            <mat-icon class="icon-primary">arrow_back_ios</mat-icon>
            لیست تمام کالا و خدمات
        </span>
    </div>
    <div class="content-topbar-actions">
        <a routerLink="/software/product/unit">
            <key-button appearance="raised">
                واحد کالا و خدمات  
            </key-button>
        </a>
        <key-button (click)="onAddProduct()">
            <mat-icon class="material-icons-outlined list-add-button-icon">add</mat-icon> کالا و خدمات جدید
        </key-button>
        <div class="buttons-seperator"></div>
        <button mat-ripple class="tiled-table-toggle" type="button" (click)="tailedTable = !tailedTable" [matTooltip]="!tailedTable ? 'حالت نمایش: کاشی' : 'حالت نمایش: جدول'">
            <mat-icon *ngIf="!tailedTable" class="material-icons-outlined tiled-table-toggle-icon icon-primary">grid_on_outlined</mat-icon>  
            <mat-icon *ngIf="tailedTable" class="material-icons-outlined tiled-table-toggle-icon icon-primary">format_list_bulleted_outlined</mat-icon>  
        </button>
    </div>
</div>
<div class="content-table">
    <div class="table">
        <table *ngIf="productListLoaded && unitListLoaded" mat-table [dataSource]="productList" matSort (matSortChange)="onTableSortChanged($event)" keyTiledTable [tiledTable]="tailedTable">
            <ng-container matColumnDef="نوع">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> نوع </th>
                <td mat-cell *matCellDef="let element"> {{ productTypeTextByNumber(element.productType) }} </td>
            </ng-container>

            <ng-container matColumnDef="نام">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> نام </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>

            <ng-container matColumnDef="شناسه کالا">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> شناسه کالا </th>
                <td mat-cell *matCellDef="let element"> {{ element.productCode }} </td>
            </ng-container>
            
            <ng-container matColumnDef="واحد کالا">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> واحد کالا </th>
                <td mat-cell *matCellDef="let element"> {{ findUnitName(element.unitCode) }} </td>
            </ng-container>

            <ng-container matColumnDef="قیمت">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> قیمت </th>
                <td mat-cell *matCellDef="let element"> {{ element.price | price }} ریال </td>
            </ng-container>

            <ng-container matColumnDef="کد کالا">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> کد کالا </th>
                <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
            </ng-container>

            <ng-container matColumnDef="عملیات">
                <th mat-header-cell *matHeaderCellDef> عملیات </th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-action-buttons">
                        <key-button [matTooltip]="'حذف ' + productTypeTextByNumber(element.productType)" (click)="onDeleteProduct(element.code)" content="icon">
                            <mat-icon class="icon-red material-icons-outlined">delete</mat-icon>
                        </key-button>
                        <key-button matTooltip="ویرایش" (click)="onUpdateProduct(element.code)" content="icon">
                            <mat-icon class="icon-primary material-icons-outlined">edit_square</mat-icon>                       
                        </key-button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell table-no-data" [colSpan]="tableColumns.length">
                    <img src="assets/images/software/no-data.svg" alt="no data found">
                    هیچ داده ای یافت نشد
                </td>
            </tr>
        </table>
        <key-table-loading *ngIf="!productListLoaded || !unitListLoaded" [columns]="tableColumns"></key-table-loading>
        <div class="table-pagination">
            <div class="table-pagination__paginator">
                <key-button content="icon" [disabled]="!tablePagination.hasPrev" (click)="tablePagination.hasPrev && onPaginationChanged((tablePagination.currentPage ?? 1) - 1)">
                    <mat-icon class="paginator-icon icon-medium">arrow_forward_ios</mat-icon>
                </key-button>
                <div>
                    <span>{{ (tablePagination.currentPage ?? 0) | farsiNumber }}</span>
                    <span>از</span>
                    <span>{{ (tablePagination.totalPages ?? 0) | farsiNumber }}</span>
                </div>
                <key-button content="icon" [disabled]="!tablePagination.hasNext" (click)="tablePagination.hasNext && onPaginationChanged((tablePagination.currentPage ?? 1) + 1)">
                    <mat-icon class="paginator-icon icon-medium">arrow_back_ios_new</mat-icon>
                </key-button>
            </div>
            <div class="table-pagination__total-count">
                <ng-container *ngIf="(tablePagination.totalCount ?? 0) <= 0">موردی یافت نشد</ng-container>
                <ng-container *ngIf="(tablePagination.totalCount ?? 0) > 0">
                    {{ tablePagination.totalCount ?? 0 | price }} مورد یافت شد
                </ng-container>
            </div>
            <div class="table-pagination__page-size">
                <span>نمایش در هر صفحه: </span>
                <button mat-ripple [matMenuTriggerFor]="pageSizes">
                    {{ (tablePagination.pageSize ?? 0) | farsiNumber }}
                    <mat-icon class="icon-light">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #pageSizes="matMenu">
                    <button mat-menu-item (click)="onItemPerPageChanged(10)">{{ 10 | farsiNumber }} مورد</button>
                    <button mat-menu-item (click)="onItemPerPageChanged(25)">{{ 25 | farsiNumber }} مورد</button>
                    <button mat-menu-item (click)="onItemPerPageChanged(40)">{{ 40 | farsiNumber }} مورد</button>
                    <button mat-menu-item (click)="onItemPerPageChanged(60)">{{ 60 | farsiNumber }} مورد</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>