.content-mobile-base-definitions {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 0 0 20px 0;

    .content-mobile-base-definition {
        padding: 10px;
        box-shadow: var(--light-shadow);
        background-color: var(--primary-color);
        background-image: url('../../../assets/images/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
        border: 1px solid var(--border-color-medium);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:hover {
            border-color: var(--primary-color);
        }

        .base-definition-image-container {
            width: 32px;
            height: 32px;
            padding: 5px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--background-color-light);
            background-color: color-mix(in srgb, var(--primary-color), 95% var(--base-color));
            
            img {
                width: 100%;
                filter: var(--icon-primary);
            }
        }

        h5 {
            font-size: 12px;
            color: var(--text-opposite-color);
            margin-top: 5px;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 768px) {
    .content-mobile-base-definitions {
        display: grid;
    }
}

.content-topbar {
    gap: 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;

    h2 {
        font-size: 18px;
        font-weight: 400;
        color: var(--text-secondary-color);
        margin-bottom: 5px;
    }

    span {
        font-size: 13px;
        display: flex;
        align-items: center;

        mat-icon {
            font-size: 16px;
            width: 9px;
            height: 16px;
            margin: 0 7px;
        }
    }

    .list-add-button-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }

    .tiled-table-toggle {
        cursor: pointer;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--base-color);
        box-shadow: var(--light-shadow);
        border-radius: 3px;
        border: 1px solid var(--border-color-medium);

        &:focus {
            border: 1px solid var(--primary-color);
        }

        .tiled-table-toggle-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            margin-inline: -4px;
        }
    }

    .list-more-options {
        cursor: pointer;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--base-color);
        box-shadow: var(--light-shadow);
        border-radius: 3px;
        border: 1px solid var(--border-color-medium);

        &:focus {
            border: 1px solid var(--primary-color);
        }

        .list-more-options-icon {
            width: 22px;
            height: 22px;
            font-size: 22px;
        }
    }

    .buttons-seperator {
        width: 1px;
        height: 25px;
        background-color: var(--border-color-medium);
        border-radius: 50px;
    }

    .content-topbar-actions {
        display: flex;
        gap: 10px;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 768px) {
    .content-topbar {
        flex-direction: column;
        align-items: start;

        .content-topbar-actions {
            justify-content: start;
            flex-direction: row-reverse;
        }
    }
}

.content-table {
    margin-top: 20px;
    box-shadow: var(--light-shadow);
    overflow-x: auto;
    background-color: var(--base-color);
    border-radius: 0 0 3px 3px;
    border: 1px solid var(--border-color-medium);

    &.flat-table {
        box-shadow: unset;
        border: unset;
    }

    .table-mobile-sort {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: start;
        padding: 20px 17px 20px 17px;
        border-top: 1px solid var(--border-color-medium);
        flex-wrap: wrap;
    }

    table {
        width: 100% !important;
        background-color: var(--base-color);
        border-top: 3px solid var(--primary-color);
    }

    .table-no-data {
        padding: 20px 20px 20px 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: var(--text-secondary-color);

        img {
            margin: auto auto 10px auto;
            display: block;
            width: 70px;
            height: 70px;
        }
    }

    .table-row-checkbox {
        .mdc-checkbox__native-control {
            color: var(--base-color) !important;
        }
    }

    .table-action-buttons {
        display: flex;

        mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
        }
    }

    .table-pagination {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 7px 17px 7px 17px;
        border-top: 1px solid var(--border-color-medium);
        flex-wrap: wrap;

        .table-pagination__page-size {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;

            span {
                font-size: 13px;
                white-space: nowrap;
            }

            button {
                padding: 5px 10px 5px 5px;
                cursor: pointer;
                font-size: 13px;
                color: var(--text-secondary-color);
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                border: 1px solid var(--border-color-medium);
                transition: all .1s ease;
                border-radius: 2px;

                &:hover,
                &:focus {
                    border-color: var(--primary-color);
                }

                mat-icon {
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                }
            }
        }

        .table-pagination__total-count {
            font-size: 13px;
            color: var(--text-secondary-color);
        }

        .table-pagination__paginator {
            display: flex;
            align-items: center;

            mat-icon {
                width: 14px;
                height: 14px;
                font-size: 14px;
            }

            div {
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}