.key-section {
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
    overflow-x: auto;
    background-color: var(--base-color);
    border-radius: 3px;
    border: 1px solid var(--border-color-light);

    .key-section-topbar {
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 10px;
        border-bottom: 2px solid var(--border-color-light);
        
        &.minimal {
            font-size: 14px;
            color: var(--text-secondary-color);
        }

        mat-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }

    .key-section-footer {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: end;
        padding: 10px;
        border-top: 2px solid var(--border-color-light);
    }
}