@import url('../../../shared/scss/key-form-dialog.scss');

.invoice-link {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.total-invoice-product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
    span {
        color: var(--text-tertiary-color);
        font-size: 14px;
    }

    h3 {
        font-size: 22px;
        font-weight: 500;
        color: var(--text-primary-color);
    }
}