<form class="form-dialog" [formGroup]="addInvoiceProductForm">
    <div class="form-dialog-top-bar" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h3>افزودن کالا به فاکتور فروش</h3>
        <key-button content="icon" (click)="closeDialog()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>

    <div class="form-dialog-content">
        <div class="form-dialog-content-loading" *ngIf="!productListLoaded"></div>
        <mat-form-field class="form-dialog-field" appearance="outline">
            <mat-label>کالا یا خدمات</mat-label>
            <mat-select formControlName="productCode" name="productCode" (valueChange)="onAutoFillData($event)"
                (opened)="productCodeSearchMobile.focus()">
                <input class="mat-select-search" type="text" formControlName="productCodeSearch"
                    #productCodeSearchMobile placeholder="جستجو کردن...">
                <mat-option *ngFor="let product of filteredProducts"
                    [value]="product.code">{{product.name}}</mat-option>
                <mat-option [value]="null">
                    <ng-container *ngIf="filteredProducts.length < 1">
                        کالا و خدماتی یافت نشد.
                    </ng-container>
                    <span (click)="onAddProduct()" class="invoice-link">ایجاد کالا و خدمات جدید</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="addInvoiceProductForm.get('productCode')?.invalid && validationLastCheck">
                این فیلد الزامیست
            </mat-error>
        </mat-form-field>
        <div class="form-dialog-field-row">
            <mat-form-field appearance="outline">
                <mat-label>مقدار</mat-label>
                <input type="number" matInput formControlName="amount">
                <mat-error *ngIf="addInvoiceProductForm.get('amount')?.invalid && validationLastCheck">
                    <ng-container *ngIf="addInvoiceProductForm.get('amount')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                    <ng-container *ngIf="addInvoiceProductForm.get('amount')?.hasError('min')">
                        حداقل مقدار 1 میباشد
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>درصد مالیات</mat-label>
                <input keyPercentageInput type="number" matInput formControlName="taxPercent">
                <mat-error *ngIf="addInvoiceProductForm.get('taxPercent')?.invalid && validationLastCheck">
                    درصد مالیات نامعتبر است
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>قیمت</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="price">
                <mat-error *ngIf="addInvoiceProductForm.get('price')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>تخفیف</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="discount">
                <mat-error *ngIf="addInvoiceProductForm.get('discount')?.invalid && validationLastCheck">
                    حداکثر میزان تخفیف: {{ addInvoiceProductForm.get('price')?.value | price }} ریال
                </mat-error>
            </mat-form-field>


            <!-- برای الگو طلا -->

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.GoldAndPlatinum">
                <mat-label>اجرت ساخت (ریال)</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="constructionWages">
                <mat-error *ngIf="addInvoiceProductForm.get('constructionWages')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.GoldAndPlatinum">
                <mat-label>سود فروشنده (ریال)</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="constructionWages">
                <mat-error *ngIf="addInvoiceProductForm.get('constructionWages')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.GoldAndPlatinum">
                <mat-label>حق العمل (ریال)</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="constructionWages">
                <mat-error *ngIf="addInvoiceProductForm.get('constructionWages')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.GoldAndPlatinum">
                <mat-label>عیار</mat-label>
                <input type="number" matInput formControlName="carat">
                <mat-error *ngIf="addInvoiceProductForm.get('carat')?.invalid && validationLastCheck">
                    <ng-container *ngIf="addInvoiceProductForm.get('carat')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                </mat-error>
            </mat-form-field>


            <!-- برای الگو ارز -->

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.CurrencySale">
                <mat-label>میزان ارز</mat-label>
                <input type="number" matInput formControlName="currencyAmount">
                <mat-error *ngIf="addInvoiceProductForm.get('currencyAmount')?.invalid && validationLastCheck">
                    <ng-container *ngIf="addInvoiceProductForm.get('currencyAmount')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.CurrencySale">
                <mat-label>نوع ارز</mat-label>
                <mat-select formControlName="currencyType" name="currencyType" (opened)="currencyTypeSearch.focus()">
                    <input class="mat-select-search" type="text" formControlName="currencyTypeSearch"
                        #currencyTypeSearch placeholder="جستجو کردن..">
                    <mat-option *ngFor="let currencyType of filteredCurrencyList"
                        [value]="currencyType.id">{{currencyType.currencyName}}</mat-option>
                    <mat-option [value]="null">
                        <ng-container *ngIf="filteredCurrencyList.length < 1">
                            ارزی یافت نشد.
                        </ng-container>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addInvoiceProductForm.get('currencyType')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.CurrencySale">
                <mat-label>نرخ ارز (ریال)</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="exchangeRateRials">
                <mat-error *ngIf="addInvoiceProductForm.get('exchangeRateRials')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="data.pattern === InvoicePatternTypeEnum.CurrencySale">
                <mat-label>کارمزد فروش ارز</mat-label>
                <input type="text" mask="separator" thousandSeparator="," matInput formControlName="currencySaleFee">
                <mat-error *ngIf="addInvoiceProductForm.get('currencySaleFee')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>

            <!-- یوکنیک ادنتیفایر  -->

            <mat-form-field class="invoice-section-grid-field" appearance="outline"
                *ngIf="this.data.pattern === InvoicePatternTypeEnum.Ticket
                || this.data.pattern === InvoicePatternTypeEnum.Export
                || this.data.pattern === InvoicePatternTypeEnum.UtilityBills
                || this.data.pattern === InvoicePatternTypeEnum.Contract">
                <mat-label>شناسه یکتای ثبت قرارداد حق العمل کاری</mat-label>
                <input type="number" matInput formControlName="uniqeIdentifierOfWorkRights">
                <mat-error *ngIf="addInvoiceProductForm.get('uniqeIdentifierOfWorkRights')?.invalid && validationLastCheck">
                    <ng-container *ngIf="addInvoiceProductForm.get('uniqeIdentifierOfWorkRights')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>


        <div class="invoice-price-details-item">
            <span>مبلغ کل قبل از تخفیف</span>
            <h4 class="default-color">{{ (priceBeforeDiscount >= 0 ? priceBeforeDiscount : 0) | price }} ریال</h4>
        </div>
        <div class="invoice-price-details-item">
            <span>مبلغ کل بعد از تخفیف: </span>
            <h4 class="success-color">{{ (priceAfterDiscount >= 0 ? priceAfterDiscount : 0) | price }} ریال</h4>
        </div>
        <div class="invoice-price-details">
            <div class="invoice-price-details-item" *ngIf="taxPrice > 0">
                <span>مبلغ مالیات: </span>
                <h4>{{ (taxPrice >= 0 ? taxPrice : 0) | price }} ریال</h4>
            </div>
            <div class="invoice-price-details-item">
                <span>مبلغ نهایی: </span>
                <h3>{{ (totalPrice >= 0 ? totalPrice : 0) | price }} ریال</h3>
            </div>
        </div>
    </div>

    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="closeDialog()">لغو</key-button>
        <key-button (click)="onAddInvoiceProduct()" type="submit">
            <ng-container *ngIf="data.update">ویرایش</ng-container>
            <ng-container *ngIf="!data.update">افزودن</ng-container>
        </key-button>
    </mat-dialog-actions>
</form>