@import url('../../../shared/scss/key-form-dialog.scss');

.invoice-link {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}

.invoice-price-details {
    display: flex;
    gap: 30px;
}

.invoice-price-details-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
    span {
        color: var(--text-tertiary-color);
        font-size: 14px;
    }

    h3 {
        font-size: 22px;
        font-weight: 700;
        color: var(--text-primary-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }
    
    h4 {
        font-size: 16px;
        font-weight: 400;
        color: var(--error-color);
    }
}