<form class="form-dialog" [formGroup]="generateKeysForm">
    <div class="form-dialog-top-bar" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h3>دریافت CSR</h3>
        <key-button content="icon" (click)="closeDialog()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>

    <div class="form-dialog-content">
        <div class="form-dialog-content-loading" *ngIf="generateKeysLoading">
            <mat-spinner [diameter]="35"></mat-spinner>
        </div>
        <ng-container *ngIf="!csrGenerated">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>نام شرکت</mat-label>
                <input keyAutoFocus type="text" matInput formControlName="companyName">
                <mat-error *ngIf="generateKeysForm.get('companyName')?.invalid && validationLastCheck">
                    {{ 'required' | validatorMessage }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>نام انگلیسی شرکت</mat-label>
                <input matInput formControlName="companyNameEn" type="text" />
                <mat-error
                    *ngIf="generateKeysForm.get('companyNameEn')?.invalid && generateKeysForm.get('companyNameEn')?.invalid">
                    <ng-container *ngIf="generateKeysForm.get('companyNameEn')?.hasError('required')">
                        {{ 'required' | validatorMessage }}
                    </ng-container>
                    <ng-container *ngIf="generateKeysForm.get('companyNameEn')?.hasError('englishOnly')">
                        {{ 'englishOnly' | validatorMessage }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>کد اقتصادی</mat-label>
                <input matInput formControlName="economicCode" type="text" />
                <mat-error
                    *ngIf="generateKeysForm.get('economicCode')?.invalid && generateKeysForm.get('economicCode')?.invalid">
                    <ng-container *ngIf="generateKeysForm.get('economicCode')?.hasError('required')">
                        {{ 'required' | validatorMessage }}
                    </ng-container>
                    <ng-container *ngIf="generateKeysForm.get('economicCode')?.hasError('economicCode')">
                        {{ 'economicCode' | validatorMessage }}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="csrGenerated">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>CSR دریافت شده</mat-label>
                <textarea readonly matInput formControlName="csr" rows="10"></textarea>
            </mat-form-field>
        </ng-container>
    </div>
    
    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="closeDialog()">لغو</key-button>
        <key-button [disabled]="generateKeysLoading" (click)="onGenerateKeys()" type="submit" *ngIf="!csrGenerated">دریافت CSR</key-button>
        <key-button (click)="copyCSR()" type="submit" *ngIf="csrGenerated">
            <mat-icon class="material-icons-outlined copy-icon">copy</mat-icon>
            کپی کردن
        </key-button>
    </mat-dialog-actions>
</form>