<form class="form-dialog">
    <div class="form-dialog-top-bar">
        <h3>تایید حذف</h3>
        <key-button content="icon" (click)="denyDelete()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>
    
    <div class="form-dialog-content">
        <div class="accept-delete-content">
            آیا از حذف اطمینان دارید؟
        </div>
    </div>
    
    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="denyDelete()">لغو</key-button>
        <key-button (click)="acceptDelete()" type="submit">حذف</key-button>
    </mat-dialog-actions>
</form>