<form class="form-dialog" [formGroup]="updateCompanyForm">
    <div class="form-dialog-top-bar">
        <h3>ویرایش شرکت</h3>
        <key-button content="icon" (click)="closeDialog()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>
    
    <div class="form-dialog-content">
        <div class="form-dialog-content-loading" *ngIf="getCompanyLoading"></div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>نام شرکت</mat-label>
                <input keyAutoFocus type="text" matInput formControlName="companyName">
                <mat-error *ngIf="updateCompanyForm.get('companyName')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>کد شعبه</mat-label>
                <input type="number" matInput formControlName="companyBranchNo">
                <mat-error *ngIf="updateCompanyForm.get('companyBranchNo')?.invalid && validationLastCheck">
                    کد شعبه نامعتبر است
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline" hideRequiredMarker>
                <mat-label>توضیحات شرکت</mat-label>
                <textarea matInput formControlName="companyDesc" rows="1"></textarea>
                <mat-error *ngIf="updateCompanyForm.get('companyDesc')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline" hideRequiredMarker>
                <mat-label>آدرس و مکان</mat-label>
                <textarea matInput formControlName="companyAddress" rows="1"></textarea>
                <mat-error *ngIf="updateCompanyForm.get('companyAddress')?.invalid && validationLastCheck">
                    این فیلد الزامیست    
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>شماره تلفن</mat-label>
                <input type="number" matInput formControlName="companyTel">
                <mat-error *ngIf="updateCompanyForm.get('companyTel')?.invalid && validationLastCheck">
                    شماره تلفن نامعتبر است
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>کد پستی</mat-label>
                <input type="number" matInput formControlName="companyZipCode">
                <mat-error *ngIf="updateCompanyForm.get('companyZipCode')?.invalid && validationLastCheck">
                    کد پستی نامعتبر است  
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-dialog-field-row">
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>شناسه یکتا مالیاتی</mat-label>
                <input type="text" matInput formControlName="taxIdentity">
                <mat-error *ngIf="updateCompanyForm.get('taxIdentity')?.invalid && validationLastCheck">
                    <ng-container *ngIf="updateCompanyForm.get('taxIdentity')?.hasError('required')">
                        این فیلد الزامیست
                    </ng-container>
                    <ng-container *ngIf="updateCompanyForm.get('taxIdentity')?.hasError('taxIdentity')">
                        شناسه یکتا نامعتبر است  
                    </ng-container>  
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-dialog-field" appearance="outline">
                <mat-label>کلید خصوصی</mat-label>
                <input type="text" matInput formControlName="privateKey">
                <mat-error *ngIf="updateCompanyForm.get('privateKey')?.invalid && validationLastCheck">
                    این فیلد الزامیست
                </mat-error>
            </mat-form-field>
        </div>
        <mat-checkbox formControlName="companyStatus" [disabled]="true" class="example-margin">فعال بودن شرکت</mat-checkbox>   
    </div>
    
    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="closeDialog()">لغو</key-button>
        <key-button [loading]="updateCompanyLoading" (click)="onUpdateCompany()" type="submit">ویرایش</key-button>
    </mat-dialog-actions>
</form>