<form class="form-dialog" [formGroup]="updateCompanyForm">
    <div class="form-dialog-top-bar" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h3>ویرایش شرکت</h3>
        <key-button content="icon" (click)="closeDialog()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>

    <div class="form-dialog-content">
        <div class="form-dialog-content-loading" *ngIf="getCompanyLoading">
            <mat-spinner [diameter]="35"></mat-spinner>
        </div>
        <div class="step" *ngIf="updateCompanyStep === 'base'">
            <div class="form-dialog-field-row">
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>نام شرکت</mat-label>
                    <input keyAutoFocus type="text" matInput formControlName="companyName">
                    <mat-error *ngIf="updateCompanyForm.get('companyName')?.invalid && validationLastCheck">
                            {{ 'required' | validatorMessage }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>نام انگلیسی شرکت</mat-label>
                    <input matInput formControlName="companyNameEn" type="text" />
                    <mat-error
                        *ngIf="updateCompanyForm.get('companyNameEn')?.invalid && updateCompanyForm.get('companyNameEn')?.invalid">
                        <ng-container *ngIf="updateCompanyForm.get('companyNameEn')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                        <ng-container *ngIf="updateCompanyForm.get('companyNameEn')?.hasError('englishOnly')">
                            {{ 'englishOnly' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field class="form-dialog-field" appearance="outline" hideRequiredMarker>
                <mat-label>توضیحات شرکت</mat-label>
                <textarea matInput formControlName="companyDesc" rows="1"></textarea>
                <mat-error *ngIf="updateCompanyForm.get('companyDesc')?.invalid && validationLastCheck">
                    {{ 'required' | validatorMessage }}
                </mat-error>
            </mat-form-field>
            <div class="form-dialog-field-row">
                <mat-form-field class="form-dialog-field" appearance="outline" hideRequiredMarker>
                    <mat-label>کد شعبه</mat-label>
                    <textarea matInput formControlName="companyBranchNo" rows="1"></textarea>
                    <mat-error *ngIf="updateCompanyForm.get('companyBranchNo')?.invalid && validationLastCheck">
                        <ng-container *ngIf="updateCompanyForm.get('companyBranchNo')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                        <ng-container *ngIf="updateCompanyForm.get('companyBranchNo')?.hasError('branchNo')">
                            {{ 'branchNo' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-dialog-field" appearance="outline" hideRequiredMarker>
                    <mat-label>آدرس و مکان</mat-label>
                    <textarea matInput formControlName="companyAddress" rows="1"></textarea>
                    <mat-error *ngIf="updateCompanyForm.get('companyAddress')?.invalid && validationLastCheck">
                        {{ 'required' | validatorMessage }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-dialog-field-row">
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>شماره تلفن</mat-label>
                    <input type="number" matInput formControlName="companyTel">
                    <mat-error *ngIf="updateCompanyForm.get('companyTel')?.invalid && validationLastCheck">
                        {{ 'phoneNumber' | validatorMessage }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>کد پستی</mat-label>
                    <input type="number" matInput formControlName="companyZipCode">
                    <mat-error *ngIf="updateCompanyForm.get('companyZipCode')?.invalid && validationLastCheck">
                        {{ 'required' | validatorMessage }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-dialog-field-row">
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>شناسه یکتا مالیاتی</mat-label>
                    <input type="text" matInput formControlName="taxIdentity">
                    <mat-error *ngIf="updateCompanyForm.get('taxIdentity')?.invalid && validationLastCheck">
                        <ng-container *ngIf="updateCompanyForm.get('taxIdentity')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                        <ng-container *ngIf="updateCompanyForm.get('taxIdentity')?.hasError('taxIdentity')">
                            {{ 'taxIdentity' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-dialog-field" appearance="outline">
                    <mat-label>کد ملی یا اقتصادی</mat-label>
                    <input matInput formControlName="economicCode" type="text" />
                    <mat-error
                        *ngIf="updateCompanyForm.get('economicCode')?.invalid && updateCompanyForm.get('economicCode')?.invalid">
                        <ng-container *ngIf="updateCompanyForm.get('economicCode')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                        <ng-container *ngIf="updateCompanyForm.get('economicCode')?.hasError('economicOrNationalCode')">
                            {{ 'economicOrNationalCode' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-checkbox formControlName="companyStatus" [disabled]="true" class="example-margin">فعال بودن
                شرکت</mat-checkbox>
        </div>
        <div class="step" *ngIf="updateCompanyStep === 'keys'">
            <div class="tow-columns-title">
                <h2 class="add-company-field-title">کلید عمومی و خصوصی</h2>
                <key-button (click)="onGeneratePublicAndPrivateKeys()" appearance="text">
                    <mat-icon class="material-icons-outlined list-add-button-icon">key</mat-icon> ایجاد کلید
                </key-button>
            </div>
            <div class="form-dialog-field-row">
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>کلید خصوصی</mat-label>
                    <textarea matInput formControlName="privateKey" rows="5"></textarea>
                    <mat-error
                        *ngIf="updateCompanyForm.get('privateKey')?.invalid && updateCompanyForm.get('privateKey')?.invalid">
                        <ng-container *ngIf="updateCompanyForm.get('privateKey')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="add-company-field" appearance="outline">
                    <mat-label>کلید عمومی</mat-label>
                    <textarea matInput formControlName="publicKey" rows="5"></textarea>
                    <mat-error
                        *ngIf="updateCompanyForm.get('publicKey')?.invalid && updateCompanyForm.get('publicKey')?.invalid">
                        <ng-container *ngIf="updateCompanyForm.get('publicKey')?.hasError('required')">
                            {{ 'required' | validatorMessage }}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="closeDialog()">لغو</key-button>
        <key-button *ngIf="updateCompanyStep === 'base'" (click)="onNextStep()" type="button">ادامه</key-button>
        <key-button *ngIf="updateCompanyStep === 'keys'" [disabled]="getCompanyLoading" [loading]="updateCompanyLoading" (click)="onUpdateCompany()"
            type="submit">ویرایش</key-button>
    </mat-dialog-actions>
</form>