<form class="form-dialog">
    <div class="form-dialog-top-bar" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h3>فراخوانی طرف حساب از اکسل</h3>
        <key-button content="icon" (click)="closeDialog()">
            <mat-icon class="icon-base">close</mat-icon>
        </key-button>
    </div>
    
    <div class="form-dialog-content">
        <div class="form-dialog-content-loading" *ngIf="readExcelLoading || addPersonsLoading">
            <mat-spinner [diameter]="35"></mat-spinner>
        </div>
        <div class="excel-import-actions">
            <a *ngIf="!excelReaded" class="form-dialog-link" href="https://cdn.keyacc.ir/documents/%D8%A7%DA%A9%D8%B3%D9%84%20%D9%86%D9%85%D9%88%D9%86%D9%87%20%D8%B7%D8%B1%D9%81%20%D8%AD%D8%B3%D8%A7%D8%A8.xlsx" download>
                <key-button>
                    <mat-icon class="material-icons-outlined excel-sample-icon">file_open</mat-icon>
                    دانلود نمونه اکسل
                </key-button>
            </a>
            <key-button appearance="error" *ngIf="excelReaded" (click)="onRemoveReadedExcel()">حذف پیوست</key-button>
        </div>

        <p *ngIf="excelReaded" class="excel-import-text">ردیف های نامعتبر با رنگ قرمز مشخص شده و در فراخوانی خوانده نمیشوند همچنین در صورتی که کد طرف حساب تکراری باشد هم ثبت نمیشود</p>
        <div *ngIf="excelReaded">
            <form [formGroup]="importPersonsForm">
                <ng-container formArrayName="persons">
                    <div class="import-from-row">
                        <span class="import-form-field-title" *ngFor="let column of tableColumns">{{ column }}</span>

                        <ng-container *ngIf="personsFromArray.controls.length > 0">
                            <ng-container *ngFor="let personFrom of personsFromArray.controls; let i = index">
                                <ng-container  [formGroup]="personFrom">
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="کد تکراری یا فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('code')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('code')?.invalid" type="text" formControlName="code">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('personType')?.invalid">
                                        <mat-select [class.invalid-input]="personFrom.get('personType')?.invalid" formControlName="personType">
                                            <mat-option *ngFor="let personTypeOption of personTypes" [value]="personTypeOption.value">{{ personTypeOption.display }}</mat-option>
                                        </mat-select>
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('personName')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('personName')?.invalid" type="text" formControlName="personName">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('nationalId')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('nationalId')?.invalid" type="number" formControlName="nationalId">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('economicCode')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('economicCode')?.invalid" type="number" formControlName="economicCode">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('mobile')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('mobile')?.invalid" type="number" formControlName="mobile">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('tel')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('tel')?.invalid" type="number" formControlName="tel">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" matTooltip="فیلد نامعتبر میباشد و فراخوانی خوانده نمیشود" [matTooltipDisabled]="!personFrom.get('zipCode')?.invalid">
                                        <input [class.invalid-input]="personFrom.get('zipCode')?.invalid" type="number" formControlName="zipCode">
                                    </div>
                                    <div [class.invalid-row]="personFrom.invalid" class="import-form-field" [matTooltip]="personFrom.get('address')?.value">
                                        <input [class.invalid-input]="personFrom.get('address')?.invalid" type="text" formControlName="address">
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </form>
            <ng-container *ngIf="personsFromArray.controls.length <= 0">
                <div class="import-data-not-found">
                    هیچ داده ای یافت نشد
                    <key-button appearance="stroked" (click)="onRemoveReadedExcel()">
                        <mat-icon class="material-icons-outlined">file_upload</mat-icon>
                        اپلود مجدد
                    </key-button>
                </div>
            </ng-container>
        </div>
        <key-upload-area *ngIf="!excelReaded" height="300px" (fileUploaded)="onExcelUploaded($event)"></key-upload-area>
    </div>
    
    <mat-dialog-actions class="form-dialog-footer">
        <key-button appearance="stroked" (click)="closeDialog()">لغو</key-button>
        <key-button [disabled]="personsList.length <= 0" [loading]="importPersonsLoading || addPersonsLoading" (click)="onImportPersons()" type="submit">اضافه کردن</key-button>
    </mat-dialog-actions>
</form>