@import url('../../../shared/scss/key-form-dialog.scss');
@import url('../../../shared/scss/key-list.scss');

.valid-person-type {
    border: 1px solid var(--primary-color);
    background-color: color-mix(in srgb, var(--primary-color), transparent 80%);
    color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 3px;
}

.invalid-person-type {
    border: 1px solid var(--error-color);
    background-color: color-mix(in srgb, var(--error-color), transparent 80%);
    color: var(--error-color);
    padding: 5px 15px;
    border-radius: 3px;
    white-space: nowrap;
}

.excel-import-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.excel-import-text {
    margin-top: 10px;
    color: var(--text-secondary-color);
    max-width: 65ch;
    text-wrap: balance;
}