<div class="content-topbar">
    <div>
        <h2>لیست تمام شرکت ها</h2>
        <span>
            شرکت
            <mat-icon class="icon-primary">arrow_back_ios</mat-icon>
            لیست تمام شرکت ها
        </span>
    </div>
    <div class="content-topbar-actions">
        <key-button appearance="raised" (click)="onGenerateKeysDialog()">
            <mat-icon class="material-icons-outlined list-add-button-icon">key</mat-icon>
            دریافت CSR
        </key-button>
        <key-button appearance="raised" (click)="onReSelectCompany()">
            تغییر شرکت فعال
        </key-button>
        <key-button (click)="onAddCompany()">
            <mat-icon class="material-icons-outlined list-add-button-icon">add</mat-icon> شرکت جدید
        </key-button>
        <div class="buttons-seperator"></div>
        <button mat-ripple class="tiled-table-toggle" type="button" (click)="tailedTable = !tailedTable" [matTooltip]="!tailedTable ? 'حالت نمایش: کاشی' : 'حالت نمایش: جدول'">
            <mat-icon *ngIf="!tailedTable" class="material-icons-outlined tiled-table-toggle-icon icon-primary">grid_on_outlined</mat-icon>  
            <mat-icon *ngIf="tailedTable" class="material-icons-outlined tiled-table-toggle-icon icon-primary">format_list_bulleted_outlined</mat-icon>  
        </button>
    </div>
</div>

<div class="content-table">
    <div class="table">
        <table *ngIf="companiesListLoaded" mat-table [dataSource]="companiesList" keyTiledTable [tiledTable]="tailedTable">
            <ng-container matColumnDef="شماره بسته">
                <th mat-header-cell *matHeaderCellDef> شماره بسته </th>
                <td mat-cell *matCellDef="let element"> {{element.packageNo}} </td>
            </ng-container>

            <ng-container matColumnDef="نام شرکت">
                <th mat-header-cell *matHeaderCellDef> نام شرکت </th>
                <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="کد شعبه">
                <th mat-header-cell *matHeaderCellDef> کد شعبه </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyBranchNo">{{element.companyBranchNo}}</ng-container>
                    <ng-container *ngIf="!element.companyBranchNo" class="error-color">بدون کد شعبه</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="تلفن">
                <th mat-header-cell *matHeaderCellDef> تلفن </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyTel">{{element.companyTel}}</ng-container>
                    <ng-container *ngIf="!element.companyTel" class="error-color">بدون تلفن </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="وضعیت">
                <th mat-header-cell *matHeaderCellDef> وضعیت </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyStatus">فعال</ng-container>
                    <ng-container *ngIf="!element.companyStatus">غیر فعال</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="توضیحات شرکت">
                <th mat-header-cell *matHeaderCellDef> توضیحات شرکت </th>
                <td mat-cell *matCellDef="let element"> {{element.companyDesc}} </td>
            </ng-container>


            <ng-container matColumnDef="عملیات">
                <th mat-header-cell *matHeaderCellDef> عملیات </th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-action-buttons">
                        <key-button matTooltip="حذف شرکت" (click)="onDeleteCompany(element)" content="icon">
                            <mat-icon class="icon-red material-icons-outlined">delete</mat-icon>
                        </key-button>
                        <key-button matTooltip="کپی CSR" (click)="onCopyCompanyCSR(element)" content="icon">
                            <mat-icon class="icon-medium material-icons-outlined">description</mat-icon>
                        </key-button>
                        <key-button matTooltip="ویرایش" (click)="onUpdateCompany(element.databaseId)" content="icon">
                            <mat-icon class="icon-primary material-icons-outlined">edit_square</mat-icon>
                        </key-button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell table-no-data" [colSpan]="tableColumns.length">
                    <img src="assets/images/software/no-data.svg" alt="no data found">
                    هیچ داده ای یافت نشد
                </td>
            </tr>
        </table>
        <key-table-loading *ngIf="!companiesListLoaded" [columns]="tableColumns"></key-table-loading>
    </div>
</div>