<div class="content-topbar">
    <div>
        <h2>لیست تمام شرکت ها</h2>
        <span>
            شرکت
            <mat-icon class="icon-primary">arrow_back_ios</mat-icon>
            لیست تمام شرکت ها
        </span>
    </div>
    <div class="content-topbar-actions">
        <key-button (click)="onAddCompany()">
            <mat-icon class="material-icons-outlined list-add-button-icon">add</mat-icon> شرکت جدید
        </key-button>
        <div class="buttons-seperator"></div>
        <button mat-ripple class="list-more-options" type="button" tabindex="1" [matMenuTriggerFor]="moreOptionsMenu">
            <mat-icon class="material-icons-outlined list-more-options-icon icon-primary">more_vert_outlined</mat-icon>  
        </button>
        <mat-menu #moreOptionsMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="tiledTableToggleMenu">
                <div class="menu-icon-container">
                    <mat-icon class="material-icons-outlined icon-primary">format_list_bulleted</mat-icon>
                    نمایش لیست
                </div>
            </button>
            <mat-menu #tiledTableToggleMenu="matMenu">
                <mat-radio-group [(ngModel)]="tailedTable">
                    <button mat-menu-item (click)="tailedTable = false">
                        <mat-radio-button [value]="false" [checked]="!tailedTable">حالت جدول</mat-radio-button>
                    </button>
                    <button mat-menu-item (click)="tailedTable = true">
                        <mat-radio-button [value]="true" [checked]="tailedTable">حالت کاشی</mat-radio-button>
                    </button>
                </mat-radio-group>
            </mat-menu>

            <button mat-menu-item (click)="onReSelectCompany()">
                <div class="menu-icon-container">
                    <mat-icon class="material-icons-outlined icon-primary">business</mat-icon>
                    تغییر شرکت فعال
                </div>
            </button>

            <button mat-menu-item (click)="onGenerateKeysDialog()">
                <div class="menu-icon-container">
                    <mat-icon class="material-icons-outlined icon-primary">key</mat-icon>
                    دریافت CSR
                </div>
            </button>
        </mat-menu>
    </div>
</div>

<div class="content-table">
    <div class="table">
        <table *ngIf="companiesListLoaded" mat-table [dataSource]="companiesList" keyTiledTable [tiledTable]="tailedTable">
            <ng-container matColumnDef="شماره بسته">
                <th mat-header-cell *matHeaderCellDef> شماره بسته </th>
                <td mat-cell *matCellDef="let element"> {{element.packageNo}} </td>
            </ng-container>

            <ng-container matColumnDef="نام شرکت">
                <th mat-header-cell *matHeaderCellDef> نام شرکت </th>
                <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="کد شعبه">
                <th mat-header-cell *matHeaderCellDef> کد شعبه </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyBranchNo">{{element.companyBranchNo}}</ng-container>
                    <ng-container *ngIf="!element.companyBranchNo" class="error-color">بدون کد شعبه</ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="تلفن">
                <th mat-header-cell *matHeaderCellDef> تلفن </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyTel">{{element.companyTel}}</ng-container>
                    <ng-container *ngIf="!element.companyTel" class="error-color">بدون تلفن </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="وضعیت">
                <th mat-header-cell *matHeaderCellDef> وضعیت </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.companyStatus">فعال</ng-container>
                    <ng-container *ngIf="!element.companyStatus">غیر فعال</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="توضیحات شرکت">
                <th mat-header-cell *matHeaderCellDef> توضیحات شرکت </th>
                <td mat-cell *matCellDef="let element"> {{element.companyDesc}} </td>
            </ng-container>


            <ng-container matColumnDef="عملیات">
                <th mat-header-cell *matHeaderCellDef> عملیات </th>
                <td mat-cell *matCellDef="let element">
                    <div class="table-action-buttons">
                        <key-button matTooltip="حذف شرکت" (click)="onDeleteCompany(element)" content="icon">
                            <mat-icon class="icon-red material-icons-outlined">delete</mat-icon>
                        </key-button>
                        <key-button matTooltip="کپی CSR" (click)="onCopyCompanyCSR(element)" content="icon">
                            <mat-icon class="icon-medium material-icons-outlined">description</mat-icon>
                        </key-button>
                        <key-button matTooltip="ویرایش" (click)="onUpdateCompany(element.databaseId)" content="icon">
                            <mat-icon class="icon-primary material-icons-outlined">edit_square</mat-icon>
                        </key-button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell table-no-data" [colSpan]="tableColumns.length">
                    هیچ داده ای یافت نشد
                </td>
            </tr>
        </table>
        <key-table-loading *ngIf="!companiesListLoaded" [columns]="tableColumns"></key-table-loading>
    </div>
</div>