<app-header></app-header>

<div class="hero-section__wrapper">
    <div class="container hero-section">
        <div class="hero-section__column">
            <span>
                <mat-icon class="material-icons-outlined">apps</mat-icon>
                ارسال صورتحساب الکترونیکی سامانه مودیان
            </span>
            <h1>نرم افزار واسط کلید</h1>
            <p>نرم افزار واسط کلید با هدف ارسال صورتحساب الکترونیکی به سامانه مودیان ارائه شده است. نرم افزار واسط کلید
                بصورت خیلی ساده طراحی شده و استفاده از این افزونه واسط بسیار ساده می باشد. استفاده از این نرم افزار نیاز
                به هیچگونه دانش فنی و تخصصی ندارد.</p>
            <div class="action-buttons">
                <a routerLink="/software">
                    <key-button [block]="true">ورود به نرم افزار</key-button>
                </a>
                <a routerLink="/auth/register">
                    <key-button appearance="stroked" [block]="true">ثبت نام</key-button>
                </a>
            </div>
        </div>
        <div class="hero-section__column">
            <img class="hero-seciton-app-preview" src="assets/images/software-preview.png" alt="software preview">
        </div>
    </div>
</div>

<div class="software-download__wrapper">
    <div class="software-download container">
        <span>~ نصب نرم افزار ~</span>
        <h3>نصب بر روی تمامی پلتفرم ها</h3>
        <ul>
            <a routerLink="/software">
                <li>
                    <div>
                        <img src="../../../assets/images/home/web.webp" alt="andorid">
                        <span>نرم افزار تحت وب</span>
                    </div>
                    <p>نصب بر روی تمامی تلفن همراه های دارای سیستم عامل اندروید</p>
                </li>
            </a>
            <li (click)="onInstallPwa()">
                <div>
                    <img src="../../../assets/images/home/android.webp" alt="andorid">
                    <span>اندروید</span>
                </div>
                <p>نصب بر روی تمامی تلفن همراه های دارای سیستم عامل اندروید</p>
            </li>
            <li (click)="onInstallPwa()">
                <div>
                    <img src="../../../assets/images/home/windows.webp" alt="andorid">
                    <span>ویندوز</span>
                </div>
                <p>نصب و اجرا بر روی تمامی نسخه های عامل ویندوز</p>
            </li>
            <li (click)="onInstallPwa()">
                <div>
                    <img src="../../../assets/images/home/apple.webp" alt="andorid">
                    <span>آی او اس</span>
                </div>
                <p>نصب و اجرا بر روی تمامی تلفن همراه دارای سیستم عامل آی او اس</p>
            </li>
            <li (click)="onInstallPwa()">
                <div>
                    <img src="../../../assets/images/home/mac.png" alt="andorid">
                    <span>مک او اس</span>
                </div>
                <p>نصب و اجرا بر روی تمامی نسخه های سیستم عامل مک</p>
            </li>
            <li (click)="onInstallPwa()">
                <div>
                    <img src="../../../assets/images/home/linux.png" alt="andorid">
                    <span>لینوکس</span>
                </div>
                <p>نصب و اجرا بر روی تمامی نسخه های لینوکس</p>
            </li>
        </ul>
    </div>
</div>

<div class="why-us-section__wrapper">
    <div class="why-us-section container">
        <div class="why-us-section__column">
            <img src="assets/images/home/home-pic-1.jpg" alt="home pic 2">
        </div>
        <div class="why-us-section__column">
            <span>~ چرا کلید</span>
            <h2>دلیل استفاده از نرم افزار واسط</h2>
            <p>با توجه به تصویب قانون پایانه های فروشگاهی و سامانه مودیان (صندوق مکانیزه فروش) در مهر ماه سال 1398، که
                با هدف شفاف سازی اقتصادی ایجاد شد، کلیه افراد مشمول این قانون می بایست در سامانه مودیان ثبت نام کنند و
                بعد از عضویت در این سامانه اقدام به ارسال صورت حساب الکترونیکی برای فروش کالا و یا خدمات نمایند. ارسال
                صورت حساب های الکترونیکی یا از طریق شرکت های معتمد مالیاتی و یا از طریق نرم افزار واسط سامانه مودیان
                توسط اشخاص صورت می گیرد.</p>
            <key-button appearance="raised">شروع ارسال صورت حساب الکترونیکی</key-button>
        </div>
    </div>
</div>

<div class="faq__wrapper">
    <div class="faq">
        <span>~ سوالات متداول ~</span>
        <h3 class="faq-title">شاید برای شما سوال باشد</h3>
        <div class="faq-items">
            <div class="faq-item" *ngFor="let faqItem of faqItems">
                <mat-expansion-panel>
                    <mat-expansion-panel-header mat-ripple>
                        <mat-panel-title>
                            {{ faqItem.value }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{ faqItem.display }}</p>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>

<div class="packages__wrapper">
    <div class="packages container">
        <span class="title">~ نرم افزار واسط کلید ~</span>
        <h3 class="packages-title">تهیه بسته نرم افزاری و ارسال صورت حساب</h3>
        <div class="packages-items">
            <div class="packages-item" *ngFor="let package of packageItems">
                <div class="package-item__title">{{ package.title }}</div>
                <div class="package-item__price-container">
                    <span class="package-item__price">{{ package.priceInRials | price }} ریال</span>
                </div>
                <ul class="package-item__options">
                    <li class="package-item__option">
                        <mat-icon class="icon-primary">check</mat-icon>
                        ایجاد {{ package.numberOfCompanies }} شرکت</li>
                    <li class="package-item__option">
                        <mat-icon class="icon-primary">check</mat-icon>
                        ارسال {{ package.numberOfInvoice >= 0 ? package.numberOfInvoice : 'بینهایت ' }} فاکتور فروش به سامانه</li>
                    <li class="package-item__option">
                        <mat-icon class="icon-primary" *ngIf="package.canSeachProductCode">check</mat-icon>
                        <mat-icon class="icon-red" *ngIf="!package.canSeachProductCode">close</mat-icon>
                        قابلیت جستجو شناسه کالا و خدمات</li>
                    <li class="package-item__option">
                        <mat-icon class="icon-primary" *ngIf="package.createCustomCSR">check</mat-icon>
                        <mat-icon class="icon-red" *ngIf="!package.createCustomCSR">close</mat-icon>
                        ایجاد CSR بینهایت</li>
                </ul>
                <div class="package-item__buy-button">
                    <key-button [block]="true">خرید بسته</key-button>
                </div>
            </div>
        </div>
    </div>
</div>