
.hero-section__wrapper {
    background-color: var(--base-color);
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 74px);
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--primary-color);
        background-image: url('../../../assets/images/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        height: 120vh;
        top: -20%;
        left: -25%;
        border-radius: 50px;
        z-index: -1;
        transform: rotate(-45deg);
    }
}
.hero-section {
    display: flex;
    z-index: 1;
    gap: 50px;
    align-items: center;
    padding-bottom: 20px;

    .hero-section__column {        
        &:first-child {
            width: 40%;
        }
        
        &:last-child {
            width: 60%;
            padding-top: 50px;
        }

        h1 {
            font-size: 48px;
            font-weight: 700;
            font-family: PeydaWeb;
            color: var(--base-opposite-color);
        }

        span {
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 5px;
            align-items: center;
            color: var(--primary-color);
        }

        p {
            color: var(--text-secondary-color);
            font-size: 16px;
            margin: 7px 0;
        }
    }

    .hero-seciton-app-preview {
        width: 100%;
        filter: drop-shadow(rgba(0, 0, 0, 0.24) 0 3px 8px);
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.why-us-section__wrapper {
    background-color: var(--base-color);
    padding: 75px 0 0 0;
    position: relative;
}

.why-us-section {
    display: flex;
    z-index: 1;
    gap: 50px;
    align-items: center;
    padding-bottom: 20px;

    .why-us-section__column {
        width: 50%;
        flex: 1;

        img {
            object-fit: cover;
            aspect-ratio: 16 / 9;
            max-width: 100%;
            border-radius: 5px;
        }

        h2 {
            font-size: 32px;
            font-weight: 600;
            font-family: PeydaWeb;
            color: var(--base-opposite-color);
        }

        span {
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 5px;
            align-items: center;
            color: var(--primary-color);
        }

        p {
            color: var(--text-secondary-color);
            font-size: 16px;
            margin: 7px 0 15px 0;
        }
    }
}

.cross-platform-application_wrapper {
    background-image: url("../../../assets/images/home/home-pic-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 20px 75px 20px;
    position: relative;

    &::after {
        position: absolute;
        inset: 0;
        background-color: color-mix(in srgb, darken(#008a77, 20%), transparent 40%);
        content: "";
        z-index: 1;
    }
}

.cross-platform-application {
    z-index: 3;
    position: relative;

    h3 {
        font-size: 28px;
        font-weight: 500;
        font-family: PeydaWeb;
        color: var(--base-color);
        text-align: center;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        gap: 20px;

        li {
            background-color: var(--base-color);
            padding: 10px 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            border: 3px solid var(--border-color-medium);
            transition: all .1s ease;

            span {
                font-size: 16px;
                font-weight: 500;
                color: var(--text-secondary-color);
            }

            &:hover {
                border-color: var(--primary-color);
                background-color: color-mix(in srgb, var(--primary-color), transparent 15%);
                scale: 1.05;

                span {
                    color: var(--base-color);
                }
            }

            img {
                width: 42px;
                height: 42px;
            }
        }
    }
}


.software-download__wrapper {
    padding: 75px 0;
    background-color: var(--border-color-light);
}

.software-download {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--primary-color);
        text-align: center;
    }

    h3 {
        font-size: 28px;
        font-weight: 700;
        font-family: PeydaWeb;
        color: var(--base-opposite-color);
        text-align: center;
        padding-top: 3px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 30px;
        gap: 20px;

        li {
            flex: 1;
            background-color: var(--base-color);
            padding: 28px;
            list-style: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all .1s ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, .05);
            outline: 1px dashed var(--border-color-medium);
            outline-offset: -4px;

            div {
                display: flex;
                gap: 10px;
                align-items: center;
            }

            span {
                font-size: 24px;
                font-weight: 700;
                color: var(--primary-color);
            }

            p {
                font-weight: 700;
                color: var(--text-primary-color);
                font-family: PeydaWeb;
                padding-top: 5px;
            }

            &:hover {
                // scale: 1.03;
                outline: 2px dashed var(--border-color-medium);
            }

            img {
                width: 38px;
                height: 38px;
            }
        }
    }
}

.faq__wrapper {
    padding: 75px 0;
    background-color: var(--base-color);
}

.faq {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    span {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--primary-color);
        text-align: center;
    }

    .faq-title {
        font-size: 30px;
        font-weight: 800;
        font-family: PeydaWeb;
        color: var(--base-opposite-color);
        text-align: center;
        padding-bottom: 25px;
    }

    .faq-items {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .faq-item {
        width: 70%;
        max-width: 700px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        ::ng-deep {
            .mat-expansion-panel {
                border: 2px solid var(--primary-color);
    
                .mat-expansion-panel-header {
                    height: auto !important;
                    padding: 10px 30px !important;
                    background-color: var(--border-color-light);
    
                    .mat-expansion-panel-header-title {
                        margin-left: 20px !important;
                        font-size: 16px !important;
                        font-weight: 400 !important;
                    }
                }

                .mat-expansion-panel-body {
                    padding: 10px 30px !important;
                }
            }
        }
    }
}

.packages__wrapper {
    padding: 100px 0 150px 0;
    background-color: var(--border-color-light);
}

.packages {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .title {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        gap: 5px;
        align-items: center;
        color: var(--primary-color);
        text-align: center;
    }

    .packages-title {
        font-size: 30px;
        font-weight: 800;
        font-family: PeydaWeb;
        color: var(--base-opposite-color);
        text-align: center;
        padding-bottom: 25px;
    }

    .packages-items {
        margin-top: 10px;
        width: 100%;
        align-items: center;
        display: flex;
        gap: 25px;
    }

    .packages-item {
        width: 70%;
        max-width: 700px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: var(--base-color);
        border-radius: 10px;

        .package-item__title {
            background-color: var(--primary-color);
            padding: 20px 20px 40px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px 10px 0 0;
            color: var(--base-color);
            font-size: 24px;
            font-weight: 600;
        }

        .package-item__price-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .package-item__price {
            padding: 15px 25px;
            background-color: var(--border-color-light);
            border-radius: 5px;
            outline: 2px dashed var(--border-color-medium);
            outline-offset: -5px;
            margin-bottom: -20px;
            transform: translateY(-25px);
        }

        .package-item__options {
            padding: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding-top: 50px;
        gap: 20px;
        
        .hero-section__column {
            width: 100% !important;
            z-index: 2;
        }
    }
    
    .why-us-section {
        flex-direction: column-reverse;
        gap: 40px;
        
        .why-us-section__column {
            width: 100%;
        }
    }

    .software-download {
        ul {
            grid-template-columns: 1fr;
        }
    }
}
