<app-header></app-header>

<div class="hero-section__wrapper">
    <div class="container hero-section">
        <div class="hero-section__column">
            <span>
                <mat-icon class="material-icons-outlined">apps</mat-icon>
                ارسال صورتحساب الکترونیکی سامانه مودیان
            </span>
            <h1>نرم افزار واسط کلید</h1>
            <p>نرم افزار واسط کلید با هدف ارسال صورتحساب الکترونیکی به سامانه مودیان ارائه شده است. نرم افزار واسط کلید بصورت خیلی ساده طراحی شده و استفاده از این افزونه واسط بسیار ساده می باشد. استفاده از این نرم افزار نیاز به هیچگونه دانش فنی و تخصصی ندارد.</p>
            <div class="action-buttons">
                <a routerLink="/software">
                    <key-button [block]="true">ورود به نرم افزار</key-button>
                </a>
                <a routerLink="/auth/register">
                    <key-button appearance="stroked" [block]="true">ثبت نام</key-button>
                </a>
            </div>
        </div>
        <div class="hero-section__column">
            <img class="hero-seciton-app-preview" src="assets/images/software-preview.png" alt="software preview">
        </div>
    </div>
</div>

<div class="why-us-section__wrapper">
    <div class="why-us-section container">
        <div class="why-us-section__column">
            <img src="assets/images/home/home-pic-1.jpg" alt="home pic 2">
        </div>
        <div class="why-us-section__column">
            <span>~ چرا کلید</span>
            <h2>دلیل استفاده از نرم افزار واسط</h2>
            <p>با توجه به تصویب قانون پایانه های فروشگاهی و سامانه مودیان (صندوق مکانیزه فروش) در مهر ماه سال 1398، که با هدف شفاف سازی اقتصادی ایجاد شد، کلیه افراد مشمول این قانون می بایست در سامانه مودیان ثبت نام کنند و بعد از عضویت در این سامانه اقدام به ارسال صورت حساب الکترونیکی برای فروش کالا و یا خدمات نمایند. ارسال صورت حساب های الکترونیکی یا از طریق شرکت های معتمد مالیاتی و یا از طریق نرم افزار واسط سامانه مودیان توسط اشخاص صورت می گیرد.</p>
            <key-button appearance="raised">شروع ارسال صورت حساب الکترونیکی</key-button>
        </div>
    </div>
</div>