
.hero-section__wrapper {
    background-color: var(--base-color);
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 74px);
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: var(--primary-color);
        background-image: url('../../../assets/images/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        height: 120vh;
        top: -20%;
        left: -25%;
        border-radius: 50px;
        z-index: -1;
        transform: rotate(-45deg);
    }
}
.hero-section {
    display: flex;
    z-index: 1;
    gap: 50px;
    align-items: center;
    padding-bottom: 20px;

    .hero-section__column {        
        &:first-child {
            width: 40%;
        }
        
        &:last-child {
            width: 60%;
            padding-top: 50px;
        }

        h1 {
            font-size: 48px;
            font-weight: 700;
            font-family: PeydaWeb;
            color: var(--base-opposite-color);
        }

        span {
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 5px;
            align-items: center;
            color: var(--primary-color);
        }

        p {
            color: var(--text-secondary-color);
            font-size: 16px;
            margin: 7px 0;
        }
    }

    .hero-seciton-app-preview {
        width: 100%;
        filter: drop-shadow(rgba(0, 0, 0, 0.24) 0 3px 8px);
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.why-us-section__wrapper {
    background-color: var(--base-color);
    padding: 75px 0 100px 0;
    position: relative;
}

.why-us-section {
    display: flex;
    z-index: 1;
    gap: 50px;
    align-items: center;
    padding-bottom: 20px;

    &::after {
        width: 100px;
        height: 100px;
        background-image: url("../../../assets/images/techno-bars.svg");
        background-size: contain;
        display: inline-block;
        position: absolute;
        content: "";
        bottom: 0;
        left: 10%;
    }

    .why-us-section__column {
        width: 50%;
        flex: 1;

        img {
            object-fit: cover;
            aspect-ratio: 16 / 9;
            max-width: 100%;
            border-radius: 5px;
        }

        h2 {
            font-size: 32px;
            font-weight: 600;
            font-family: PeydaWeb;
            color: var(--base-opposite-color);
        }

        span {
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 5px;
            align-items: center;
            color: var(--primary-color);
        }

        p {
            color: var(--text-secondary-color);
            font-size: 16px;
            margin: 7px 0 15px 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding-top: 50px;
        gap: 20px;
        
        .hero-section__column {
            width: 100% !important;
            z-index: 2;
        }
    }
    
    .why-us-section {
        flex-direction: column-reverse;
        gap: 40px;
        
        .why-us-section__column {
            width: 100%;
        }
    }
}