<app-header></app-header>

<div class="hero-section__wrapper">
    <div class="container hero-section">
        <div class="hero-section__column">
            <span>
                <mat-icon class="material-icons-outlined">apps</mat-icon>
                واسط سامانه مودیان
            </span>
            <h1>نرم افزار واسط کلید</h1>
            <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و  </p>
            <div class="action-buttons">
                <a routerLink="/software/company">
                    <key-button [block]="true">ورود به نرم افزار</key-button>
                </a>
                <a routerLink="/auth/register">
                    <key-button appearance="stroked" [block]="true">ثبت نام</key-button>
                </a>
            </div>
        </div>
        <div class="hero-section__column">
            <img class="hero-seciton-app-preview" src="assets/images/software-preview.png" alt="software preview">
        </div>
    </div>
</div>