<div class="date-picker">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="date-picker__form-field" [matMenuTriggerFor]="menu" [style.width]="fullWidth ? '100%' : null">
        <mat-label><ng-content></ng-content></mat-label>
        <input [(ngModel)]="dateModel" readonly type="text" matInput placeholder="date">
        <key-button matSuffix [matMenuTriggerFor]="menu" content="icon">
            <mat-icon class="icon-primary date-picker__picker-icon">calendar_month</mat-icon>
        </key-button>
    </mat-form-field>

    <mat-menu #menu="matMenu" class="date-picker__wrapper" xPosition="before" yPosition="below">
        <div class="date-picker__menu">
            <div (click)="$event.stopPropagation()" class="date-picker__header">
                <span tabindex="0" *ngIf="datePickerMode === DatePickerModeEnum.Calendar" (click)="$event.stopPropagation()" (click)="keyDate.subtractMonth()">
                    <key-button content="icon">
                        <mat-icon class="icon-white date-picker__navigation-icon">keyboard_arrow_right</mat-icon>
                    </key-button>
                </span>
                <span tabindex="0" *ngIf="datePickerMode === DatePickerModeEnum.SelectYear" (click)="$event.stopPropagation()" (click)="keyDate.subtractYear()">
                    <key-button content="icon">
                        <mat-icon class="icon-white date-picker__navigation-icon">keyboard_double_arrow_right</mat-icon>
                    </key-button>
                </span>
                <span tabindex="0" class="date-picker__date-title" mat-ripple (click)="$event.stopPropagation(); toggleDatePickerTabs()">
                    <ng-container *ngIf="datePickerMode === DatePickerModeEnum.Calendar">
                        {{ keyDate.monthName }} 
                    </ng-container>
                    {{ keyDate.year | farsiNumber }}
                </span>
                <span tabindex="0" *ngIf="datePickerMode === DatePickerModeEnum.SelectYear" (click)="$event.stopPropagation()" (click)="keyDate.addYear()">
                    <key-button content="icon">
                        <mat-icon class="icon-white date-picker__navigation-icon">keyboard_double_arrow_left</mat-icon>
                    </key-button>
                </span>
                <span tabindex="0" *ngIf="datePickerMode === DatePickerModeEnum.Calendar" (click)="$event.stopPropagation()" (click)="keyDate.addMonth()">
                    <key-button content="icon">
                        <mat-icon class="icon-white date-picker__navigation-icon">keyboard_arrow_left</mat-icon>
                    </key-button>
                </span>
            </div>
            <div class="date-picker-tabs">
                <mat-tab-group #datePickerTabs keyHideTabsTitle>
                    <mat-tab label="تقویم">
                        <div class="date-picker__main">
                            <div (click)="$event.stopPropagation()" class="date-picker__weekday-item"
                                *ngFor="let weekday of keyDate.weekdayList; let i = index" [ngClass]="{'holiday': i === 6}">{{ weekday | slice: 0 : 1 }}</div>
            
                            <div (click)="$event.stopPropagation()"
                                *ngFor="let emptyDate of [].constructor(this.keyDate.monthStartWeekDay); let i = index"></div>
            
                            <div tabindex="0" mat-ripple class="date-picker__day-item" [ngClass]="{'today': date.today, 'holiday': date.weekdayNumber === 6}" (click)="onDateSelected(date.day)" *ngFor="let date of keyDate.datePicker">
                                {{date.day| farsiNumber}}
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="تغییر سال">
                        <div class="date-picker__months-main" (click)="$event.stopPropagation()">
                            <div tabindex="0" class="date-picker__month-item" (click)="onSelectDatePickerMonth(i)" [ngClass]="{'current-month': keyDate.month === i}" mat-ripple *ngFor="let month of keyDate.monthList; let i = index">{{ month }}</div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="date-picker__actions" (click)="$event.stopPropagation()">
                <span mat-ripple tabindex="0" (click)="onGoToday()">برو به امروز</span>
            </div> 
        </div>
    </mat-menu>
</div>